@charset "utf-8";

#wrap {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-flow: column wrap;


}

h1 {
    width: 95%;
    height: 10%;
    padding-top: 5%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15%;
    margin: 0 auto;
    border-top: 0.15rem solid lightgrey;
    border-bottom: 0.15rem solid lightgray;
}

nav a{
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    color: dimgray;
}

nav a:not(:first-child) {
    border-left: 0.15rem solid lightgrey;
}

nav a li{

}